
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;

    background: repeating-linear-gradient(
        180deg,
        #288628aa,   /* Dark green */
        #489e48a0 40px,
        #9bc99b 10px,  /* Light green */
        #a6e3a6 70px   /* Width of each stripe */
    );
    margin: 0;
    padding: 0;
    height: 100vh;  /* Full height of the viewport */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;

}

#game-container {
  position: relative;
  z-index: 1;
}

#spin-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #409106;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes flashRed {
  0% {
      background-color: rgba(0, 167, 239, 0.652); /* Default water color */
  }
  50% {
      background-color: rgba(202, 0, 0, 0.58); /* Red flash */
  }
  100% {
      background-color: rgba(0, 167, 239, 0.652); /* Back to original color */
  }
}

#water-overlay {
  position: absolute;
  top: 44.5%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 0; /* Start with no width */
  height: 0; /* Start with no height */
  background-color: rgba(0, 167, 239, 0.652);
  transition: width 3s ease-in-out, height 3s ease-in-out;
  z-index: 2;
  pointer-events: none;
  transform: translate(-50%, -50%); /* Center the overlay */
  border-radius: 50%; /* Make it oval */
}

#emoji-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: #99ac83;
  border-radius: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
}

@keyframes drain {
  0% { transform: translateX(-50%) scale(1) rotate(0deg); }
  100% { transform: translateX(-50%) scale(0) rotate(360deg); }
}

